<div class="content-pageXXX container-fluid">
    <form #saveListForm [formGroup]="saveForm" (ngSubmit)="onSubmit()">
        <div class="contentXXX main-content">
            <app-left-nav></app-left-nav>
            <article class="right-panel">
                <h4 class="page-title">{{labels.requestScreenConfigurationAdd  | i18n}}</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- <div class="col-md-3">
            <mat-form-field>
              <input formControlName="requestScreenConfigurationCode" matInput placeholder="Configuration Code">
            </mat-form-field>
          </div> -->
                            <div class="col-md-4" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenConfigurationName' ">
                                <mat-form-field>
                                    <input formControlName="requestScreenConfigurationName" 
                                    matInput placeholder="{{labels.configurationName}}">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 mt-15 readOnly" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenConfigurationIsActive' ">
                                <mat-checkbox formControlName="requestScreenConfigurationIsActive">{{labels.activeConfiguration}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <mat-label>Request Type</mat-label> -->
                                <h3 class="box_title">{{labels.reqType}}</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="row p-10">
                                    <div class="col-md-4" *ngIf="userBaseFieldName | arrayFilter : 'requestTypeId' ">
                                        <mat-form-field>
                                            <mat-select (selectionChange)="getSubTypeList($event)" formControlName="requestTypeId" 
                                            placeholder="{{labels.reqType}}" (openedChange)="requestTypeFilter = ''">
                                                <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox" [(ngModel)]="requestTypeFilter" [ngModelOptions]="{standalone: true}">
                                                <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                                                <mat-option *ngFor="let requestTypeList of requestTypeList | dropdownFilter : {requestTypeName: requestTypeFilter}" [value]="requestTypeList.requestTypeId">{{requestTypeList.requestTypeName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4" *ngIf="userBaseFieldName | arrayFilter : 'requestSubtypeId' ">
                                        <mat-form-field>
                                            <mat-select [disabled]="saveForm.value.requestType === ''" formControlName="requestSubtypeId"
                                             placeholder="{{labels.reqSubType}}" (openedChange)="requestSubTypeFilter = ''">
                                                <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox" [(ngModel)]="requestSubTypeFilter" [ngModelOptions]="{standalone: true}">
                                                <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                                                <mat-option *ngFor="let requestSubTypeList of requestSubTypeList | dropdownFilter : {requestSubTypeName: requestTypeFilter}" [value]="requestSubTypeList.requestSubTypeId">{{requestSubTypeList.requestSubTypeName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <mat-label>Sequence Type</mat-label> -->
                                <h3 class="box_title">{{labels.sequenceType}}</h3>
                            </div>
                            <div class="col-md-12">
                                <div *ngIf="saveForm">
                                    <div formArrayName="requestScreenDetailConfigurationVoList" *ngFor="let item of saveForm.controls['requestScreenDetailConfigurationVoList'].controls; let i = index">
                                        <div [formGroupName]="i" class="row p-10">
                                            <div>
                                                <div class="col-md-1" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenDetailConfigurationSequance' ">
                                                    <mat-form-field>
                                                        <input type="number" formControlName="requestScreenDetailConfigurationSequance" 
                                                        matInput placeholder="{{labels.sequence}}" maxlength="4"  pattern= "^[1-9]*$">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenDetailConfigurationFieldName' ">
                                                    <mat-form-field>
                                                        <input formControlName="requestScreenDetailConfigurationFieldName" 
                                                        matInput placeholder="{{labels.fieldName}}">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenDetailConfigurationFieldType' ">
                                                    <mat-form-field>
                                                        <mat-select formControlName="requestScreenDetailConfigurationFieldType" (openedChange)="staticFieldFilter[i] = ''"
                                                        placeholder="{{labels.fieldType}}" (selectionChange)="dynamicRequired($event, i)">
                                                            <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox" 
                                                            [(ngModel)]="staticFieldFilter[i]" [ngModelOptions]="{standalone: true}">
                                                            <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                                                            <mat-option *ngFor="let staticFieldComobo of staticFieldComobo  | dropdownFilter : {Type: staticFieldFilter[i]}" [value]="staticFieldComobo.Value">{{staticFieldComobo.Type}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenDetailConfigurationFieldValue' ">
                                                    <mat-form-field>
                                                        <input [readonly]="saveForm.value.requestScreenDetailConfigurationVoList[i].requestScreenDetailConfigurationFieldType == 'T' ||
                        saveForm.value.requestScreenDetailConfigurationVoList[i].requestScreenDetailConfigurationFieldType == 'A' ||
                        saveForm.value.requestScreenDetailConfigurationVoList[i].requestScreenDetailConfigurationFieldType == 'D'" formControlName="requestScreenDetailConfigurationFieldValue" 
                        matInput placeholder="{{labels.fieldValue}}">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenDetailConfigurationValidationIsRequired' ">
                                                    <mat-form-field>
                                                        <mat-select formControlName="requestScreenDetailConfigurationValidationIsRequired" 
                                                        placeholder="{{labels.fieldValidation}}" (openedChange)="fieldValidationFilter[i] = ''">
                                                            <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox" 
                                                            [(ngModel)]="fieldValidationFilter[i]" [ngModelOptions]="{standalone: true}">
                                                            <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                                                            <mat-option *ngFor="let fieldValidationCombo of fieldValidationCombo  | dropdownFilter : {Name: fieldValidationFilter[i]}" [value]="fieldValidationCombo.Value">
                                                                {{fieldValidationCombo.Name}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2 mt-15 readOnly" *ngIf="userBaseFieldName | arrayFilter : 'requestScreenDetailConfigurationIsActive' ">
                                                    <mat-checkbox formControlName="requestScreenDetailConfigurationIsActive">{{labels.activeConfiguration}}
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right mb-10">
                                        <a _ngcontent-c19="" class="circle_iconbg" href="javascript:void(0);" (click)="addSequence()">
                                            <i _ngcontent-c19="" class="material-icons">add</i>
                                        </a>
                                        <a _ngcontent-c19="" class="circle_iconbg" href="javascript:void(0);" (click)="deleteSequence()">
                                            <i _ngcontent-c19="" class="material-icons">remove</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button mat-raised-button color="warn" class="btn-orange mr-10" type="submit">
                        {{labels.save}}</button>
                        <button mat-raised-button color="warn" class="btn-orange mr-10" (click)="clearForm()">{{labels.clear}}</button>
                        <button mat-raised-button color="warn" class="btn-orange" routerLink="/request-scrconfig">{{labels.back}}</button>
                    </div>
                </div>
            </article>
        </div>
    </form>
</div>