<div class="content-pageXXX container-fluid">

  <form #saveListForm [formGroup]="saveForm" (ngSubmit)="onSubmit()">
    <div class="contentXXX main-content">
      <article class="right-panel">
        <app-left-nav></app-left-nav>
        <h4 class="page-title">{{labels.authenticationModify   | i18n}}</h4>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Sceen" formControlName="screenId">
                <mat-option *ngFor="let screen of screenCombo" [value]="screen.screenId">
                  {{screen.screenName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="User Role" formControlName="roleId">
                <mat-option *ngFor="let role of userRoleCombo" [value]="role.id">
                  {{role.userRoleName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1 mt-15">
            <mat-checkbox formControlName="addFlag">Add</mat-checkbox>
          </div>
          <div class="col-md-1 mt-15">
            <mat-checkbox formControlName="modifyFlag">Modify</mat-checkbox>
          </div>
          <div class="col-md-1 mt-15">
            <mat-checkbox formControlName="deleteFlag">Delete</mat-checkbox>
          </div>
          <div class="col-md-1 mt-15">
            <mat-checkbox formControlName="viewFlag">View</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button mat-raised-button color="warn" class="btn-orange mr-10" type="submit">Modify</button>
           <!-- <button mat-raised-button color="warn" class="btn-orange mr-10" type="reset">Cancel</button>-->
            <button mat-raised-button color="warn" class="btn-orange" routerLink="/authentication">Back</button>
          </div>
        </div>
      </article>
    </div>
  </form>
</div>
