
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px 0px;
}
.card-body{
  flex: 1 1 auto;
  padding: 1.25rem;
}
.read-only{
  pointer-events: none;
}
.text-low{
  font-size: 14px;margin: 15px 0;color: #f77772;
}
.text-medium{
  font-size: 14px; margin: 15px 0; color: #f7be19;
}
.text-high{
  font-size: 14px;margin: 15px 0;color: #28c128;
}
.row.dynamic-lists {
  margin: 0px;
  padding: 20px 0;
  border: 1px solid #dfdfdf;
}