<div class="content-pageXXX container-fluid">
    <form #saveListForm [formGroup]="saveForm" (ngSubmit)="onSubmit()">
        <div class="contentXXX main-content">

            <app-left-nav></app-left-nav>

            <article class="right-panel">

                <h4 class="page-title">{{labels.RequestTypeAdd  | i18n}}</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Code" formControlName="requestTypeCode">
                </mat-form-field>
              </div> -->
                            <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'requestTypeName' ">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{labels.reqType}}" formControlName="requestTypeName"
                                        [maxlength]="50">
                                    
                                </mat-form-field>
                            </div>
                            <!--<div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="URL" formControlName="requestTypeUrl">
                </mat-form-field>
              </div>-->
                            <div class="col-md-3 mt-15 read-only" *ngIf="userBaseFieldName | arrayFilter : 'requestTypeIsActive' ">
                                <mat-checkbox formControlName="requestTypeIsActive">{{labels.active}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button mat-raised-button color="warn" class="btn-orange mr-10" type="submit">{{labels.save}}</button>
                        <button mat-raised-button color="warn" class="btn-orange mr-10" (click)="clearForm()">{{labels.clear}}</button>
                        <button mat-raised-button color="warn" class="btn-orange" routerLink="/request-type">{{labels.back}}</button>
                    </div>
                </div>

            </article>



        </div>
    </form>
</div>