.row{
    padding:3rem 0;
}
footer{
    text-align: center;
}
.panel-body{
  padding:7rem 15px;
    position: relative;
}

.barg,.pieg{
    padding: 0;
}
.caroitem{
    min-width:110px;
    min-height: 120px;
    display: flex;
    cursor: pointer;
    z-index: 2;
   /* top:20px;*/
    flex-direction: column;

        align-items: center;
    position: relative;
    text-align: center;
    transition: 0.5s;
   margin-right: 10px;
   background: #fff;
   /* color: #26c6da;
    border: 1px solid #26c6da;
    border-radius: 5px;
   box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);*/
   border: 2px solid #005181;
   border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgb(243, 161, 185);
    /*background-color: #8cba35;*/

}
.caroitem img{
    width: 64px;
    height: 64px;
}
.caroitems{
  width: 100%;
    display: flex;

    position: relative;
}

.caroitem:hover{
    /*background:rgb(206, 81, 81)*/
   /* background: linear-gradient(60deg,#26c6da,#00acc1);*/
   background: linear-gradient(60deg,#a7c8dc,#4c94bf);
    color: #fff;
}

.caroitem:hover::before{

    top:-20px;
    opacity: 1;

}
.caroitem::before{
    content: attr(data-before-content);
    width:110px;

    z-index: 2;
    opacity: 0;
    background-color:rgb(196, 60, 60);
    text-align: center;
    position:absolute;
    transition: 0.5s;
    top:0;
    left: 0;
}


#caroitems,#caroitems2,#caroitemsapplinks{
    width: 100%;
      display: flex;
     left: 0;
      position: relative;
      transition: 1s;
  }

.caroconatiner{
   width: 100%;
  overflow: hidden;
  z-index: 1;
    position: relative;

}
.arrows{
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 0;
    top:50%;
    margin-top: -8px;
   left: 0;
   padding: 0 0px;
    justify-content: space-between;

}
.caro{
    padding:0 20px;


}
.arrows div{
    cursor: pointer;

}

text{
    color:white;
    font-weight: bold;
    fill:gainsboro;
}


/* d3 styles */
:root { --var-color-grey: #898989; }
text {
    font-family: Helvetica;
    color: var(--var-color-grey);
}
.axis path,
.axis line {
    fill: none;
    stroke: var(--var-color-grey);
    shape-rendering: crispEdges;
}
.x.axis {font-size: 15px;  }
.y.axis {font-size: 12px; }



