.col-md-3.fourthDiv:nth-child(4n+5) {
    clear: left !important;
    /* background: #ccc !important; */
}




  table.mat-table {
    width: 100%;
    border-right: 1px solid #ddd;
  }

  table.mat-table thead {
    background-color: #5c5c5c;
    color: #fff;
  }

  .mat-table tr.mat-header-row {
    /* height: 36px; */
    height: auto;
    background-color: #5c5c5c;
  }

  tr.mat-header-row th {
    color: #000;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px 10px;
    white-space: nowrap;
    /* background: #ff8c88; */

    /* background: rgb(255,182,175);
    background: -moz-linear-gradient(top,  rgba(255,182,175,1) 0%, rgba(242,129,125,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,182,175,1) 0%,rgba(242,129,125,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,182,175,1) 0%,rgba(242,129,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb6af', endColorstr='#f2817d',GradientType=0 ); */

    background: #005181;
    background: -moz-linear-gradient(top,   #005181 1%,#4d87a9 42%,#005181 100%);
	background: -webkit-linear-gradient(top,   #005181 1%,#4d87a9 42%,#005181 100%);
	background:linear-gradient(to bottom,  #005181 1%,#4d87a9 42%,#005181 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff757e', endColorstr='#ff5b6b',GradientType=0 );

  }

  tr.mat-row td.mat-cell {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px 10px;
    font-size: 13px;
  }

  .mat-row:nth-child(even) {
    background-color: #fff;
  }

  .mat-row:nth-child(odd) {
    /* background-color: #ffdad9; */
    /* background-color: #ffefef; */

    background: -moz-linear-gradient(top,  rgba(0, 81, 129, 0) 1%,rgba(0, 81, 129, 0.37) 100%);
	background: -webkit-linear-gradient(top,  rgba(0, 81, 129, 0) 1%,rgba(0, 81, 129, 0.37) 100%);
	background: linear-gradient(to bottom,  rgba(0, 81, 129, 0) 1%,rgba(0, 81, 129, 0.37) 100%);
	background: #005181;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7f7', endColorstr='#ede1e1',GradientType=0 );
  }

  .mat-row.hovered {
    /* background: #ffdbda; */
  background: -moz-linear-gradient(top,   rgba(0, 81, 129, 0.67) 0%,rgba(0, 81, 129, 0.19) 100%);
	background: -webkit-linear-gradient(top,  rgba(0, 81, 129, 0.67) 0%,rgba(0, 81, 129, 0.19) 100%);
	background: linear-gradient(to bottom,  rgba(0, 81, 129, 0.67) 0%,rgba(0, 81, 129, 0.19) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd3d3', endColorstr='#eaa4a4',GradientType=0 );
  }

  .mat-row.highlighted {
    /* background: #ffbebc; */

    background: -moz-linear-gradient(top,   rgb(60, 123, 160) 0%,rgba(27, 100, 143, 0.58) 100%);
	  background: -webkit-linear-gradient(top,   rgb(60, 123, 160) 0%,rgba(27, 100, 143, 0.58) 100%);
	  background: linear-gradient(to bottom,  rgb(60, 123, 160) 0%,rgba(27, 100, 143, 0.58) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd3d3', endColorstr='#eaa4a4',GradientType=0 );
  }

  .mat-row.highlighted .mat-cell {
    color: #000;
  }

  .table-responsive {
    overflow-y: hidden;
  }

  tr.mat-footer-row, tr.mat-row {
    height: auto;
  }


  .mat-checkbox {margin-right: 15px;}
.mat-radio-button {margin-right: 15px;}
.custom_clear:nth-child(5) {clear: left;}

.dis {
  pointer-events: none;
}


