.md-dialog{
    width:600px;
    /* padding-top: 30px; */
    margin: 0;
  }
  .btnCenter .dialogBtn.mat-raised-button.mat-primary{
    margin-left: 0px !important;
  }
  .custom-dialog-container .mat-dialog-container {
      padding: 0;
    }
  .custom-dialog-container .mat-dialog-container {
      padding: 0;
    }

   
   .mat-dialog-actions{
    margin-bottom: 15px;
   }


   .dialogBtn.mat-raised-button.mat-primary{
    background-color: #005181;    
   }
   .dialogBtn.mat-raised-button.mat-primary:hover{
    background: #005181cf; 
    border-radius: 20px 20px 20px 20px; 
    transition:  0.2s ease-out;
    transform: translateY(0);
    /* box-shadow: 0 .3rem 0 #b5b5b5;  */
   }



   .dialogBtn.mat-raised-button.mat-basic{
    background-color: #888888; color: #FFF;
   }
   .dialogBtn.mat-raised-button.mat-basic:hover{
    background: #ababab; 
    border-radius: 20px 20px 20px 20px; 
    transition:  0.2s ease-out;
    transform: translateY(0);
    /* box-shadow: 0 .3rem 0 #b5b5b5; */
   }




   textarea{
     resize:none;
     min-height: 100px;
   }
   .radio-row{
    text-align: center;
    float: none;
    width: 30%;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 60px;
   }

  .btn-cen{
    margin: auto !important;
    float: none;
    display: block;
    background-color: #005181
  }
  .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    background: #fff !important;
    z-index: 999999;
  }
  .modal_close_icon{
    float: right;
    margin-top: -8px;
    min-width: auto;
    padding: 0;
    position: relative;
}
.mat-dialog-content{
background: #fff;
}







/*** For CSS Custom Scrollbare *****/

.mat-dialog-content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 0px;
}

.mat-dialog-content::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

.mat-dialog-content::-webkit-scrollbar-thumb
{
  border-radius: 0px;
  /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(253, 109, 94, 0.38)), color-stop(0.72, rgba(253, 106, 96, 0.71)), color-stop(0.86, rgb(253, 109, 94))); */
  background-image: -webkit-gradient(linear, left bottom,
	 left top, color-stop(0.44, rgb(0, 81, 129)), color-stop(0.72, rgb(142, 184, 133)),
	  color-stop(0.86, rgb(197, 223, 150)));
}


@-moz-document url-prefix() {
  /* CSS Hack for Firefox */
  .mat-dialog-content {
      scrollbar-width: thin;
      scrollbar-color: rgba(0,81,129,1) rgb(219, 219, 219);
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* CSS Hack for IE10+ */
  .mat-dialog-content {
      scrollbar-base-color: #005181;
      scrollbar-3dlight-color: #dbdbdb;
      /* scrollbar-highlight-color: blue; */
      scrollbar-track-color: #dbdbdb;
      scrollbar-arrow-color: #dbdbdb;
      scrollbar-shadow-color: #005181;
      /* scrollbar-dark-shadow-color: brown; */
    }
}


/*** For CSS Custom Scrollbare *****/