<div class="content-pageXXX container-fluid">
   <form #modifyListForm [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
    <div class="contentXXX main-content">
      <app-left-nav></app-left-nav>
      <article class="right-panel">
      <h4 class="page-title">
        Amenity Modify</h4>
      <div class="row">
        <div class="col-md-4" *ngIf="userBaseFieldName | arrayFilter : 'amenityCode' ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Code" formControlName="amenityCode" readonly>
            </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="userBaseFieldName | arrayFilter : 'amenityName' ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Amenity Name" formControlName="amenityName">
            </mat-form-field>
        </div>
        <div class="col-md-4 mt-15" *ngIf="userBaseFieldName | arrayFilter : 'amenityActive' ">
          <mat-checkbox formControlName="amenityActive">Active</mat-checkbox>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
              <button mat-raised-button color="warn" class="btn-orange mr-10" type="submit">Modify</button>
              <!--<button mat-raised-button color="warn" class="btn-orange mr-10" type="reset">Cancel</button>-->
              <button mat-raised-button color="warn" class="btn-orange" routerLink="/amenity">Back</button>
          </div>
      </div>


    </article>


  </div>
  </form>
</div>

