/* #mainapp{
  padding-top: 92px;
} */

/* hr {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
} */

.page-title {
    color: #555;
    background: #f1f1f1;
    text-transform: initial;
    margin:0 0 20px 0;
    text-shadow: inherit;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
  }

  .page-title_ven {
      color: #482626;
      text-transform: initial;
      font-size: 15px;
      padding: 5px 0px;
      border-bottom: 3px solid #c58a2b;
      width: 50px;
      margin: 0px 15px 15px;
      white-space: nowrap;
  }

  .page-title_ven1 {    
      color: #333d54;
      text-transform: initial;
      text-shadow: inherit;
      font-size: 15px;
      padding: 5px 0px;
      border-bottom: 3px solid #c58a2b;
      width: 50px;
      margin: 0px 15px 15px;
      white-space: nowrap;
  }

  .page-title_ven2 {    
    color: #333d54;
    text-transform: initial;
    text-shadow: inherit;
    font-size: 15px;
    padding: 5px 0px;
    border-bottom: 3px solid #c58a2b;
    width: 50px;
    margin: 0px 15px 15px;
    white-space: nowrap;
  }

  .page-title_ven3 {    
    color: #333d54;
    text-transform: initial;
    text-shadow: inherit;
    font-size: 15px;
    padding: 5px 0px;
    border-bottom: 3px solid #c58a2b;
    width: 50px;
    margin: 0px 15px 15px;
    white-space: nowrap;
  }

  .page-title_ven4 {    
    color: #333d54;
    text-transform: initial;
    text-shadow: inherit;
    font-size: 15px;
    padding: 5px 0px;
    border-bottom: 3px solid #c58a2b;
    width: 50px;
    margin: 0px 15px 15px;
    white-space: nowrap;
  }

  .panel-heading{
    background: #f1f1f1;
    /* color: rgb(173, 18, 44); */
    color: #555;
  }
  .bottomrtext{
    text-align: center;
    padding: 2rem 0;
  }
  #footsec{
    color:#1b1b1b;
    border:1px solid #DDD;
    border-radius: 0px;
  }
  
  footer{
    text-align: center;
  }
  .panel-body{
    padding:0px 15px 0px 15px;
    position: relative;
    /* min-height: 179px; */
    min-height: 207px;
    max-height: 207px;
    overflow-y: auto;
  }


  @-moz-document url-prefix() {
    /* CSS Hack for Firefox */
    .panel-body {
      scrollbar-width: thin;
      scrollbar-color: rgba(209,143,38,1) rgb(219, 219, 219);
    }
  }
  
  
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* CSS Hack for IE10+ */
    .panel-body {  
      scrollbar-base-color: #c58a2b;
      scrollbar-3dlight-color: #dbdbdb;
      /* scrollbar-highlight-color: blue; */
      scrollbar-track-color: #dbdbdb;
      scrollbar-arrow-color: #dbdbdb;
      scrollbar-shadow-color: #c58a2b;
      /* scrollbar-dark-shadow-color: brown; */
      }
    }





  /* .graphg,.pieg{
    padding: 0;
  } */
  .caroitem{
    min-width:70px;
    min-height: 70px;
    display: flex;
  
    justify-content: center;
   margin-right: 10px;
    background-color: rgb(60, 158, 158);
  
  }
  .caroitems{
  width: 100%;
    display: flex;
  
    position: relative;
  }
  #caroitems,#caroitems2{
    width: 100%;
      display: flex;
     left: 0;
      position: relative;
      transition: 1s;
  }
  
  .caroconatiner{
   width: 100%;
  overflow: hidden;
  
    position: relative;
  
  }
  .arrows{
    position: absolute;
    width: 100%;
    display: flex;
  
    top:50%;
    margin-top: -8px;
   left: 0;
   padding: 0 10px;
    justify-content: space-between;
  
  }
  .caro{
    padding:0 20px;
  
  
  }
  .arrows div{
    cursor: pointer;
  
  }
  
  text{
    color:white;
    font-weight: bold;
    fill:gainsboro;
  }
  
  
  /* d3 styles */
  :root { --var-color-grey: #898989; }
  text {
    font-family: Helvetica;
    color: var(--var-color-grey);
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: var(--var-color-grey);
    shape-rendering: crispEdges;
  }
  .x.axis {font-size: 15px;  }
  .y.axis {font-size: 12px; }
  
  
  hr {
    border:none;
    height: 1px;
    width: 80%;
    margin: 0px auto 25px;
    border-bottom: 1px solid #929292;
    /* box-shadow: 0px 5px 15px 1px #949494; */
    box-shadow: 0px 3px 2px 0px #a2a2a2
    /* margin: -50px auto 10px;  */
  }
  

  /* .myreq::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  .myreq::-webkit-scrollbar
  {
    height:  8px;
    background-color: #F5F5F5;
  }
  
  .myreq::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(70, 130, 180, 0.73)), color-stop(0.72, rgba(92, 184, 92, 0.63)), color-stop(0.86, rgba(92, 184, 92, 0.46)));
    }
  
  .myreq{
    overflow: auto !important;
  } */
  
  
  
  ::ng-deep .arrows .mat-icon {
    /* background: #fc6f6a; */
    /*background-image: linear-gradient(to right bottom, #fc745a, #fd6c5f, #fe6365, #fe5a6b, #fd5272);*/
    background-image: linear-gradient(to right bottom, #fd9912, #ffa625, #ffa320, #fea321, #fea320);
    border-radius: 50%;
    color: #fff;
  }
  
  
  
  
  /*****For Custom Scroll CSS ******/
  
  .panel-body::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 0px;
    }
  
    .panel-body::-webkit-scrollbar
    {
      width: 8px;
      height: 8px;
        background-color: #F5F5F5;
    }
  
    .panel-body::-webkit-scrollbar-thumb
    {
        border-radius: 0px;
        /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(253, 109, 94, 0.38)), color-stop(0.72, rgba(253, 106, 96, 0.71)), color-stop(0.86, rgb(253, 109, 94))); */
        /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(197,138,43,1)), color-stop(100%, rgba(245,214,164,1))); */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(209,143,38,1)), color-stop(100%, rgba(245,214,164,1)));
    }
  
    /*****For Custom Scroll CSS ******/
  





    .right-panel .panel-default {
        border-radius: 0 !important;
        box-shadow: inherit !important;
    }

    #noreinfo br {display: none;}



     
    .main-content.dashview-main-content {
      /* padding: 70px 0px 43px 57px; */
      padding: 60px 4px 55px 53px;
    }