<div class="content-pageXXX container-fluid">
  <form name="form" (ngSubmit)="onSubmit(f, f.value)" #f="ngForm">
    <div class="contentXXX main-content">
      <app-left-nav></app-left-nav>
      <article class="right-panel">
        <h4 class="page-title">{{labels.requestModify  | i18n}}</h4>
        <div class="row col-clear nth_child_clear">
          <!--<div class="col-md-12">
                    <mat-label>Request Type</mat-label>
                  </div>-->
          <div class="col-md-12">
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'requestTypeId' ">
              <mat-form-field>
                <mat-select (selectionChange)="getSubTypeList(seqmodel.requestTypeId)" name="requestTypeId"
                  placeholder="{{labels.reqType}}" [(ngModel)]="seqmodel.requestTypeId" #requestTypeId="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && requestTypeId.invalid }" required (openedChange)="reqTypeFilter = ''">
                  <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox"
                    [(ngModel)]="reqTypeFilter" [ngModelOptions]="{standalone: true}">
                  <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                  <mat-option
                    *ngFor="let requestTypeList of requestTypeList | dropdownFilter : {requestTypeName: reqTypeFilter}"
                    [value]="requestTypeList.requestTypeId">{{requestTypeList.requestTypeName}}</mat-option>
                </mat-select>
                <mat-error>
                  <div *ngIf="f.submitted && requestTypeId.invalid" class="invalid-feedback">
                    <div *ngIf="requestTypeId.errors.required">requestType is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'requestSubtypeId' ">
              <mat-form-field>
                <mat-select name="requestSubtypeId" [disabled]="seqmodel.requestType === ''" (openedChange)="reqSubTypeFilter = ''"
                  placeholder="{{labels.reqSubType}}" [(ngModel)]="seqmodel.requestSubtypeId"
                  #requestSubtypeId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requestSubtypeId.invalid }"
                  required>
                  <!-- <mat-option *ngFor="let requestSubTypeList of requestSubTypeList"
                    [value]="requestSubTypeList.requestSubTypeId">{{requestSubTypeList.requestSubTypeName}}
                  </mat-option> -->

                  <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox"
                    [(ngModel)]="reqSubTypeFilter" [ngModelOptions]="{standalone: true}">
                  <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                  <mat-option
                    *ngFor="let requestSubTypeList of requestSubTypeList | dropdownFilter : {requestSubTypeName: reqSubTypeFilter}"
                    (click)="subname2(requestSubTypeList.requestSubTypeName)"
                    [value]="requestSubTypeList.requestSubTypeId">{{requestSubTypeList.requestSubTypeName}}</mat-option>
                </mat-select>
                <mat-error>
                  <div *ngIf="f.submitted && requestSubtypeId.invalid" class="invalid-feedback">
                    <div *ngIf="requestSubtypeId.errors.required">requestSubtype is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'id' ">
              <mat-form-field>
                <input name="locationName" readonly [(ngModel)]="seqmodel.locationName" #requestCode="ngModel" matInput
                  placeholder="{{labels.location}}">

              </mat-form-field>
            </div>
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'sublocationId' ">
              <mat-form-field>
                <input name="sublocationName" readonly [(ngModel)]="seqmodel.sublocationName" #sublocationName="ngModel" matInput
                  placeholder="{{labels.sublocation}}">
                <!-- <mat-select [disabled]="seqmodel.id === ''" name="sublocationId" #sublocationId="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && sublocationId.invalid }" required
                  placeholder="{{labels.sublocation}}" [(ngModel)]="seqmodel.sublocationId">
                  <mat-option *ngFor="let subLocationList of subLocationList" [value]="subLocationList.sublocationId">
                    {{subLocationList.subLocationName}}</mat-option>
                </mat-select>
                <mat-error>
                  <div *ngIf="f.submitted && sublocationId.invalid" class="invalid-feedback">
                    <div *ngIf="sublocationId.errors.required">sublocation is required</div>
                  </div>
                </mat-error> -->
              </mat-form-field>
            </div>

            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'reqLocationId' ">
              <mat-form-field>
                <!-- <mat-select name="reqLocationId" placeholder="{{labels.requestLocation}}"
                  (selectionChange)="getrequestSubLocation($event)" [(ngModel)]="seqmodel.reqLocationId"
                  #reqLocationId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reqLocationId.invalid }" required>
                  <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox"
                    [(ngModel)]="requestLocationFilter" [ngModelOptions]="{standalone: true}">
                  <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                  <mat-option
                    *ngFor="let locationList of locationList  | dropdownFilter : {userLocationName: requestLocationFilter}"
                    [value]="locationList.id">
                    {{locationList.userLocationName}}</mat-option>
                </mat-select>
                <mat-error>
                  <div *ngIf="f.submitted && reqLocationId.invalid" class="invalid-feedback">
                    <div *ngIf="reqLocationId.errors.required">Request Location is required</div>
                  </div>
                </mat-error> -->
                <input name="reqLocationId" [(ngModel)]="seqmodel.reqLocationName"
                  [value]="seqmodel.reqLocationName" [readonly]="seqmodel.reqLocationName !== ''" matInput
                  placeholder="{{labels.requestLocation}}">
              </mat-form-field>
            </div>
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'reqSublocationId' ">
              <mat-form-field>
                <!-- <mat-select name="reqSublocationId" #reqSublocationId="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && reqSublocationId.invalid }" required
                  placeholder="{{labels.requestSubLocation}}" [(ngModel)]="seqmodel.reqSublocationId">
                  <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox"
                    [(ngModel)]="requestsubLocationFilter" [ngModelOptions]="{standalone: true}">
                  <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                  <mat-option
                    *ngFor="let subLocationList of requestsubLocationList | dropdownFilter : {subLocationName: requestsubLocationFilter}"
                    [value]="subLocationList.sublocationId">
                    {{subLocationList.subLocationName}}</mat-option>
                </mat-select>
                <mat-error>
                  <div *ngIf="f.submitted && reqSublocationId.invalid" class="invalid-feedback">
                    <div *ngIf="reqSublocationId.errors.required">Request sublocation is required</div>
                  </div>
                </mat-error> -->
                <input name="reqSublocationId" [(ngModel)]="seqmodel.reqSublocationName"
                [value]="seqmodel.reqSublocationName" [readonly]="seqmodel.reqSublocationName !== ''" matInput
                placeholder="{{labels.requestSubLocation}}">
              </mat-form-field>
            </div>
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'departmentId' ">
              <mat-form-field>
                <input name="userDepartmentName" [(ngModel)]="seqmodel.userDepartmentName"
                  [value]="seqmodel.userDepartmentName" [readonly]="seqmodel.userDepartmentName !== ''" matInput
                  placeholder="{{labels.department}}">
              </mat-form-field>
            </div>
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'requestMobileNo' ">
              <mat-form-field>
                <input [(ngModel)]="seqmodel.requestMobileNo" [value]="seqmodel.requestMobileNo"
                  [readonly]="seqmodel.requestMobileNo !== ''" name="requestMobileNo" matInput
                  placeholder="{{labels.mobile}}">
              </mat-form-field>
            </div>
            <div class="col-md-3 readonly" *ngIf="userBaseFieldName | arrayFilter : 'requestDate' ">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [readonly]="seqmodel.requestDate !== ''"
                  [(ngModel)]="seqmodel.requestDate" name="requestDate" #requestDate="ngModel"
                  placeholder="{{labels.requestDate}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3 download_attachment" *ngIf="userBaseFieldName | arrayFilter : 'requestAttachment' ">
              <mat-icon style="color:#000; cursor:pointer"
                *ngIf="seqmodel.requestAttachment !== undefined && seqmodel.requestAttachment !== null"
                class="icons-color-white" (click)="download(this.seqmodel.requestId)" matTooltip="Download">
                vertical_align_bottom</mat-icon>
              <span *ngIf="seqmodel.requestAttachment && attachment">{{seqmodel.requestAttachment}}</span>
              <mat-form-field class="example-full-width hover" matTooltip="Widget Icon">
                <ngx-mat-file-input (click)="clear()" placeholder="{{labels.requestAttachment}}" matInput
                  [(ngModel)]="seqmodel.requestAttachment" name="requestAttachment">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
            </div>
          </div>

        </div>

        <div class="row ">
          <div class="col-md-12">
            <h4 class="page-title">{{labels.requestInfo}}</h4>
          </div>
          <div class="col-md-12 readonly">
            <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'requestPriority' ">
              <mat-form-field>
                <mat-select name="requestPriority" [(ngModel)]="seqmodel.requestPriority" #requestPriority="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && requestPriority.invalid }" required
                  placeholder="{{labels.requestPriority}}">
                  <mat-option *ngFor="let priorityCombo of priorityCombo" [value]="priorityCombo.id">
                    {{priorityCombo.Value}}</mat-option>
                </mat-select>
                <mat-error>
                  <div *ngIf="f.submitted && requestPriority.invalid" class="invalid-feedback">
                    <div *ngIf="requestPriority.errors.required">request Priority is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 disabledclass" *ngIf="userBaseFieldName | arrayFilter : 'requestCode' ">
              <mat-form-field>
                <input name="requestCode" [(ngModel)]="seqmodel.requestCode" #requestCode="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && requestCode.invalid }" required matInput
                  placeholder="{{labels.requestCode}}">
                <mat-error>
                  <div *ngIf="f.submitted && requestCode.invalid" class="invalid-feedback">
                    <div *ngIf="requestCode.errors.required">requestCode is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-3 disabledclass" *ngIf="userBaseFieldName | arrayFilter : 'requestFromDate' ">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" name="requestFromDate" placeholder="{{labels.requestFromDate}}"
                    [(ngModel)]="seqmodel.requestFromDate" #requestFromDate="ngModel" matInput>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              

          <div class="col-md-3 disabledclass" *ngIf="userBaseFieldName | arrayFilter : 'requestToDate' ">
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" name="requestToDate" [(ngModel)]="seqmodel.requestToDate"
                #requestToDate="ngModel" placeholder="{{labels.requestToDate}}">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

            
        

          </div>

          <div class="col-md-12">
            <div class="col-md-3 disabledclass" *ngIf="userBaseFieldName | arrayFilter : 'requestExtension' ">
              <mat-form-field>
                <input type="text" pattern="^[0-9]*$" maxlength="8" name="requestExtension" [(ngModel)]="seqmodel.requestExtension"
                  #requestExtension="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requestExtension.invalid }"
                 matInput placeholder="{{labels.extension}}" readonly>
                <mat-error>
                  <div *ngIf="f.submitted && requestExtension.invalid" class="invalid-feedback">
                    <div *ngIf="requestExtension.errors.required">requestExtension is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-3 disabledclass" *ngIf="userBaseFieldName | arrayFilter : 'requestSubject' ">
              <mat-form-field>
                <textarea matInput name="requestSubject" [(ngModel)]="seqmodel.requestSubject"
                  #requestSubject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requestSubject.invalid }"
                  required placeholder="{{labels.requestSubject}}" maxlength=250 readonly>
                    </textarea>
              </mat-form-field>
          </div>

          <div class="col-md-3 disabledclass" *ngIf="userBaseFieldName | arrayFilter : 'forwardRedirectRemarks' ">
            <mat-form-field>
               <textarea matInput placeholder="{{labels.forwardRedirectRemarks}}" maxlength="250"
                name="forwardRedirectRemarks" [(ngModel)]="seqmodel.forwardRedirectRemarks" 
                readonly></textarea>
            </mat-form-field>
          </div>

          <div class="col-md-3 disabledclass" *ngIf="userBaseFieldName | arrayFilter : 'resolverRemarks' ">
            <mat-form-field>
              <textarea matInput placeholder="{{labels.resolverRemarks}}" maxlength="250"
               name="resolverRemarks" [(ngModel)]="seqmodel.resolverRemarks"
               readonly></textarea>
            </mat-form-field>
          </div>

          <div class="col-md-3 disabledclass">
            <mat-form-field>
              <input matInput [(ngModel)]="seqmodel.createdDate" name="createdDate" #createdDate="ngModel"
              placeholder="{{labels.createdDate}}" readonly>
            </mat-form-field>
          </div>
          </div>
        </div>


        <div class="row" *ngIf="seq">
          <div class="col-md-12">
            <h4 class="page-title">{{labels.requestDetails}}</h4>
          </div>
          <div class="col-md-12"><br></div>
          <div class="col-md-12">
            <div *ngFor="let formitem of seqmodel.requestDetailList" class="col-md-3 custom_clear">

              <div [ngSwitch]="formitem.requestScreenDetailConfigurationFieldType">

                <div *ngSwitchCase="'S'">
                  <mat-form-field>
                    <mat-select placeholder="{{formitem.requestScreenDetailConfigurationFieldName}}"
                      [name]="formitem.requestScreenDetailConfigurationFieldName"
                      [(ngModel)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [(value)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [required]="formitem.requestScreenDetailConfigurationValidationIsRequired === true ? 'true':'false'">
                      <!-- <mat-option *ngFor="let formitemselect of formitem.list_value | keyvalue"
                        [value]="formitemselect.value">{{ formitemselect.value }} </mat-option> -->

                      <input type="text" placeholder="{{labels.search}}" class="advanceddropSearchTextbox"
                        [(ngModel)]="detailconfigFilter" [ngModelOptions]="{standalone: true}">
                      <mat-option class="select-span">{{labels.selectHere}}</mat-option>
                      <mat-option
                        *ngFor="let formitemselect of formitem.list_value | keyvalue | dropdownFilter : {value: detailconfigFilter}"
                        [value]="formitemselect.value">{{formitemselect.value}}</mat-option>
                    </mat-select>
                    <mat-error>
                      <span
                        *ngIf="f.form.controls[formitem.requestScreenDetailConfigurationFieldName]?.errors?.required ">
                        {{formitem.requestScreenDetailConfigurationFieldName}} is <strong>required</strong>
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div *ngSwitchCase="'C'">

                  <div style="color: rgba(0,0,0,.54);font-size: 9px">
                    {{formitem.requestScreenDetailConfigurationFieldName}}</div>

                  <span *ngFor="let formitemselect of formitem.list_value ; let i = index">
                    <mat-checkbox (change)="updateCheckedOptions(formitemselect, $event,formitem)"
                      [checked]="formitem.objectList.indexOf(formitemselect) >= 0" [value]="formitemselect"
                      [name]="formitem.requestScreenDetailConfigurationFieldName"
                      [required]="formitem.requestScreenDetailConfigurationValidationIsRequired === true ? 'true':'false'">
                      {{formitemselect}}</mat-checkbox>
                  </span>
                  <mat-error>
                    <span
                      *ngIf="formitem.objectList==='' || f.form.controls[formitem.requestScreenDetailConfigurationFieldName]?.errors?.required ">
                      {{formitem.requestScreenDetailConfigurationFieldName}} is <strong>required</strong>
                    </span>
                  </mat-error>
                </div>

                <div *ngSwitchCase="'A'">

                  <mat-form-field>
                    <textarea matInput placeholder="{{formitem.requestScreenDetailConfigurationFieldName}}"
                      [name]="formitem.requestScreenDetailConfigurationFieldName"
                      [(ngModel)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [(value)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [maxlength]="250"
                      [required]="formitem.requestScreenDetailConfigurationValidationIsRequired === true ? 'true':'false'"></textarea>
                    <mat-error>
                      <span
                        *ngIf="f.form.controls[formitem.requestScreenDetailConfigurationFieldName]?.errors?.required ">
                        {{formitem.requestScreenDetailConfigurationFieldName}} is <strong>required</strong>
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div *ngSwitchCase="'T'">

                  <mat-form-field>
                    <input type="text" matInput placeholder="{{formitem.requestScreenDetailConfigurationFieldName}}"
                      [name]="formitem.requestScreenDetailConfigurationFieldName"
                      [(ngModel)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [(value)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [maxlength]="250"
                      [required]="formitem.requestScreenDetailConfigurationValidationIsRequired === true ? 'true':'false'" />
                    <mat-error>
                      <span
                        *ngIf="f.form.controls[formitem.requestScreenDetailConfigurationFieldName]?.errors?.required ">
                        {{formitem.requestScreenDetailConfigurationFieldName}} is <strong>required</strong>
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="'R'">

                  <mat-radio-group
                    [required]="formitem.requestScreenDetailConfigurationValidationIsRequired === true ? 'true':'false'"
                    [(ngModel)]="formitem.requestScreenDetailConfigurationFieldValue"
                    [name]="formitem.requestScreenDetailConfigurationFieldName">
                    <mat-radio-button *ngFor="let formitemselect of formitem.list_value | keyvalue"
                      [value]="formitemselect.value">{{ formitemselect.value }} </mat-radio-button>

                  </mat-radio-group>
                  <mat-error>
                    <span
                      *ngIf="f.form.controls[formitem.requestScreenDetailConfigurationFieldName]?.errors?.required ">
                      {{formitem.requestScreenDetailConfigurationFieldName}} is <strong>required</strong>
                    </span>
                  </mat-error>
                </div>
                <div *ngSwitchCase="'D'">
                  <mat-form-field>
                    <!--(dateChange)="setDate(formitem)"-->
                    <input matInput [matDatepicker]="picker"
                      placeholder="{{formitem.requestScreenDetailConfigurationFieldName}}"
                      [name]="formitem.requestScreenDetailConfigurationFieldName"
                      [(ngModel)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [(value)]="formitem.requestScreenDetailConfigurationFieldValue"
                      [required]="formitem.requestScreenDetailConfigurationValidationIsRequired === true ? 'true':'false'">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>
                      <span
                        *ngIf="f.form.controls[formitem.requestScreenDetailConfigurationFieldName]?.errors?.required ">
                        {{formitem.requestScreenDetailConfigurationFieldName}} is <strong>required</strong>
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <button mat-raised-button color="warn" *ngIf="!aftersubmit" class="btn-orange mr-10"
              type="submit">{{labels.modify}}</button>
            <button mat-raised-button color="warn" class="btn-orange" routerLink="/request">{{labels.back}}</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"><br></div>
          <div [hidden]="display" class="col-md-12">
            <!--ngIf="!display"-->
            <mat-accordion>
              <mat-expansion-panel class="mb-15 no-border-radius">
                <mat-expansion-panel-header>
                  <mat-panel-title  style="font-weight: bold;">
                    {{labels.workFlowListDetails}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
            <div class="row" style="text-align: center">
              <br>
              <div class="col-md-10"></div>
              <div class="col-md-1">
                <div style="border-radius: 5px;margin: 0px 27px;width: 20px;height: 20px;background-color: gainsboro">
                </div> {{labels.initial}}
              </div>
              <!--<div class="col-md-1"> <div style="border-radius: 5px;margin: 0px 27px;width: 20px;height: 20px;background-color: green"></div> De-Escalate</div>-->
              <div class="col-md-1">
                <div style="border-radius: 5px;margin: 0px 27px;width: 20px;height: 20px;background-color: red"></div>
                {{labels.escalate}}
              </div>

            </div>
            <div class="mat-elevation-z8">
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort class="dTable">
                  <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.user}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="approvalExecuter">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{labels.approver}}/{{labels.executor}}/{{labels.requestor}} </th>
                    <td mat-cell *matCellDef="let row">
                      <!--{{row.approvalExecuter}}-->
                      <span *ngIf="row.approvalExecuter===1">{{labels.approve}}r</span>
                      <span *ngIf="row.approvalExecuter===2">{{labels.executor}}</span>
                      <span *ngIf="row.approvalExecuter===3">{{labels.requestor}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="descisionType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{labels.decisionType}}</th>
                    <td mat-cell *matCellDef="let row">
                      <!--{{row.descisionType}}-->
                      <span *ngIf="row.descisionType===0">{{labels.pending}}</span>
                          <span *ngIf="row.descisionType===1">{{labels.approved}}</span>
                          <span *ngIf="row.descisionType===2">{{labels.rejected}}</span>
                          <span *ngIf="row.descisionType===3">{{labels.resubmitted}}</span>
                          <span *ngIf="row.descisionType===4">{{labels.completed}}</span>
                          <span *ngIf="row.descisionType===5">{{labels.inprogress}}</span>
                          <span *ngIf="row.descisionType===6">{{labels.reassign}}</span>
                          <span *ngIf="row.descisionType===7">{{labels.reopen}}</span>
                          <span *ngIf="row.descisionType===8">{{labels.closed}}</span>
                          <span *ngIf="row.descisionType===9">{{labels.notworking}}</span>
                          <span *ngIf="row.descisionType===10">{{labels.cancelled}}</span>
                          <span *ngIf="row.descisionType===14">{{labels.hold}}</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="approvedon">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{labels.approvaldate }}</th>
                    <td mat-cell *matCellDef="let row"> 
                      <div *ngIf="row.descisionType == 9"> </div>
                      <div *ngIf="row.descisionType!= 9"> {{row.updatedDate | date: 'short'}}</div></td>
                  </ng-container>

                  <ng-container matColumnDef="Sla">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{labels.SLA}}</th>
                    <td mat-cell *matCellDef="let row">
                      <div *ngIf="row.status===0 && row.descisionType == 9"></div>
                      <div *ngIf="row.status===2  && row.descisionType == 9"></div>
                      <div style="border-radius: 3px;width: 50px;height: 10px;background-color: gainsboro"
                        *ngIf="row.status===0 && row.descisionType != 9"></div>
                      <div style="border-radius: 3px;width: 50px;height: 10px;background-color: red"
                        *ngIf="row.status===2 && row.descisionType != 9"></div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{labels.remarks}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.remarks}}</td>
                  </ng-container>
                  <ng-container matColumnDef="forwardRedirectRemarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> {{labels.forwardRedirectRemarks}} </th>
                    <td mat-cell *matCellDef="let row ">{{row.forwardRemarks}}
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="requestBaseFieldName"></tr>
                  <tr mat-row *matRowDef="let row;  columns:requestBaseFieldName"
                    (click)="row.highlighted = !row.highlighted" (click)=" selection.toggle(row)"
                    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false"></tr>


                </table>

                <div [hidden]="displayNoRecords" class="p-10">
                  <h3 class="noRecordGrid">{{labels.noRecords}}</h3>
                </div>


              </div>
            </div>
            </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <br>
      </article>
    </div>
  </form>
</div>