.md-dialog{
    width:500px;
    padding-top: 30px;
    margin: 0;
  }
  .btnCenter .dialogBtn.mat-raised-button.mat-primary{
    margin-left: 0px !important;
  }
  .custom-dialog-container .mat-dialog-container {
      padding: 0;
    }
  .custom-dialog-container .mat-dialog-container {
      padding: 0;
    }
  
    .modal_close_icon{
      float: right;
      margin-top: -8px;
      min-width: auto;
      padding: 0;
      position: inherit;
  }
    .popup_title{
      padding: 10px 10px;
      line-height: 22px;
      font-size: 18px;
      width: 100%;
      /* background-color: #3b3e47; */
      /* background-color: #ff8c88; */
      color: #3D3D3D;
      text-align: left;
      margin: 0;
      text-shadow: 0px 2px 3px #c58a2b;
      min-height: 38px;

      background: #c58a2b;
      background: -moz-linear-gradient(top, #c58a2b 0%, #e3b76f 4%, #ffda9e 45%, #e3b76f 96%, #c58a2b 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #c58a2b), color-stop(4%, #e3b76f), color-stop(45%, #ffda9e), color-stop(96%, #e3b76f), color-stop(100%, #c58a2b));
      background: -webkit-linear-gradient(top, #c58a2b 0%, #e3b76f 4%, #ffda9e 45%, #e3b76f 96%, #c58a2b 100%);
      background: -o-linear-gradient(top, #c58a2b 0%, #e3b76f 4%, #ffda9e 45%, #e3b76f 96%, #c58a2b 100%);
      background: -ms-linear-gradient(top, #c58a2b 0%, #e3b76f 4%, #ffda9e 45%, #e3b76f 96%, #c58a2b 100%);
      background: linear-gradient(to bottom, #c58a2b 0%, #e3b76f 4%, #ffda9e 45%, #e3b76f 96%, #c58a2b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c58a2b', endColorstr='#c58a2b', GradientType=0 );
   }
   
   .mat-dialog-actions{
    margin-bottom: 15px;
   }


   .dialogBtn.mat-raised-button.mat-primary{
    background-color: #4d4d29;    
   }
   .dialogBtn.mat-raised-button.mat-primary:hover{
    background: #4d4d29; 
    border-radius: 20px 20px 20px 20px; 
    transition:  0.2s ease-out;
    transform: translateY(0);
    /* box-shadow: 0 .3rem 0 #b5b5b5;  */
   }



   .dialogBtn.mat-raised-button.mat-basic{
    background-color: #888888; color: #FFF;
   }
   .dialogBtn.mat-raised-button.mat-basic:hover{
    background: #ababab; 
    border-radius: 20px 20px 20px 20px; 
    transition:  0.2s ease-out;
    transform: translateY(0);
    /* box-shadow: 0 .3rem 0 #b5b5b5; */
   }




   textarea{
     resize:none;
     min-height: 48px;
   }
   .radio-row{
    text-align: center;
    float: none;
    width: 30%;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 60px;
   }
   .cdk-global-overlay-wrapper{
    z-index: 888888 !important;
  }
  #topnav{
    z-index: 777 !important;
  }
  .cdk-overlay-pane{
    z-index: 999999 !important;
  }




  /*** For CSS Custom Scrollbare *****/

  .mat-dialog-content::-webkit-scrollbar-track
  {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  background-color: #F5F5F5;
	  border-radius: 0px;
  }
  
  .mat-dialog-content::-webkit-scrollbar
  {
	  width: 7px;
	  background-color: #F5F5F5;
  }
  
  .mat-dialog-content::-webkit-scrollbar-thumb
  {
	  border-radius: 0px;
	  /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(253, 109, 94, 0.38)), color-stop(0.72, rgba(253, 106, 96, 0.71)), color-stop(0.86, rgb(253, 109, 94))); */
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(209,143,38,1)), color-stop(100%, rgba(245,214,164,1)));
  }


/*** For CSS Custom Scrollbare *****/




.table-custom{
    color: #fff;
    /* background: linear-gradient(-45deg, #00679a, #f67872, #00679a, #23D5AB); */
    background: linear-gradient(-45deg, #4d4d29, #c58a2b, #4d4d29, #c1c143);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
  }

  /* .table-custom>tbody>tr>th, .table-custom>tbody>tr>td{
    border: 5px solid white;
  } */
  
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}