.col-clear .col-md-3:nth-child(5),.col-clear .col-md-3:nth-child(9), .col-clear .col-md-3:nth-child(13){
    clear: both;
    }
    .reaonly{
        pointer-events: none;
    }

    .checkbox{
        margin-top: 15px;
    }