<div class="content-pageXXX container-fluid">

  <form #saveListForm [formGroup]="saveForm">
    <div class="contentXXX main-content">
      <article class="right-panel">
        <app-left-nav></app-left-nav>
        <h4 class="page-title">{{labels.weekendMasterView | i18n}}</h4>
        <div class="col-md-12">
          <div class="row">
              <div class="col-md-4"  *ngIf="userBaseFieldName | arrayFilter : 'location' ">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder={{labels.location}} formControlName="locationId" readonly>
                  </mat-form-field>
              </div>
              <div class="col-md-4"  *ngIf="userBaseFieldName | arrayFilter : 'subLocationId' ">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder={{labels.sublocation}} formControlName="subLocationId" readonly>
                </mat-form-field>
            </div>

              <div class="col-md-4"  *ngIf="userBaseFieldName | arrayFilter : 'weekendDay' ">
                  <mat-form-field class="example-full-width">
                    <mat-select multiple placeholder={{labels.weekList}} (selectionChange)="check($event)"
                      formControlName="weekendDetailArr">
                      <input type="text"  placeholder={{labels.search}}  class="advanceddropSearchTextbox" [(ngModel)]="weekendFilter" [ngModelOptions]="{standalone: true}">
                      <mat-option [disabled]=true class="select-span">{{labels.selectHere}}</mat-option>
                      <mat-option [disabled]=true *ngFor="let day of weekList | dropdownFilter : { dayName : weekendFilter }" 
                      [value]="day.dayNumber">{{day.dayName}}</mat-option>
                  </mat-select>
                  </mat-form-field>
              </div>
              <!-- <div class="col-md-2">
                <mat-checkbox formControlName="activeStatus">{{labels.active}}</mat-checkbox>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <br>
            <br>
            <button mat-raised-button color="warn" class="btn-orange" routerLink="/weekend-master">{{labels.back}}</button>
          </div>
        </div>
      </article>
    </div>
  </form>
</div>