<div class="content-pageXXX container-fluid">
  <div class="contentXXX main-content">

    <app-left-nav></app-left-nav>
    <app-tasks></app-tasks>

    <article class="right-panel">
      <h4 class="page-title">{{labels.planMaster | i18n}}</h4>


      <div class="row">
        <div class="col-md-12">

          <mat-accordion class="advance_search_sec">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{labels.search}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="row advance_search_divBox">
                <div class="col-md-6">
                  <form #searchListForm [formGroup]="searchForm" (ngSubmit)="onSubmitSearch(searchForm.value)">
                    <div class="row" id="style-8">

                      <div class="col-md-12">
                        <div class="row" *ngIf="searchForm">
                          <div class="col-md-12" formArrayName="searchDatas"
                            *ngFor="let item of searchForm.controls['searchDatas'].controls; let i = index">
                            <div class="row" [formGroupName]="i">
                              <div class="col-md-6">
                                <mat-form-field style="margin-top: 10px;">
                                  <mat-select [(ngModel)]="qtd[i]" formControlName="dropDownVal"
                                    placeholder={{labels.choosethefield}} required>
                                    <mat-option [disabled]="searchCombo.dis" *ngFor="let searchCombo of searchCombo"
                                      (click)="changefield(searchCombo,i,searchForm)" [value]="searchCombo.Value">
                                      {{searchCombo.name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6" *ngIf="qtd[i]!=='activeFlag'">
                                <mat-form-field style="margin-top: 10px;">
                                  <input matInput placeholder={{labels.value}} maxlength="10" 
                                    formControlName="textVal" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6" *ngIf="qtd[i]==='activeFlag'">
                                <mat-form-field style="margin-top: 10px;">
                                  <mat-select [(ngModel)]="qtm[i]" formControlName="textVal"
                                    placeholder={{labels.status}} required>
                                    <mat-option *ngFor="let desi of statuslist" [value]="desi.id">{{desi.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 text-right">
                        <a _ngcontent-c19="" class="circle_iconbg" href="javascript:void(0);"
                          (click)="addSequence(searchForm)">
                          <i _ngcontent-c19="" class="material-icons">add</i>
                        </a>
                        <a _ngcontent-c19="" class="circle_iconbg" href="javascript:void(0);"
                          (click)="deleteSequence()">
                          <i _ngcontent-c19="" class="material-icons">remove</i>
                        </a>
                      </div>


                    </div>
                    <div class="row">
                      <div class="col-md-12 text-left">
                        <button mat-raised-button color="warn" class="btn-orange mr-10" type="submit"
                          [disabled]="!searchForm.valid">{{labels.search}}</button>
                        <button mat-raised-button color="warn" class="btn-orange mr-10" type="reset"
                          (click)="searchClear()">{{labels.reset}}</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </div>





      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <mat-grid-list cols="1" align="end">
            <mat-form-field style="width:inherit;">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder={{labels.filter}}
                autocomplete="off">
            </mat-form-field>

            <button *ngIf="add" mat-icon-button routerLink="/plan-master/plan-master-add">
              <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="{{labels.add}}">note_add
              </mat-icon>
            </button>

            <button *ngIf="modify" mat-icon-button (click)="projectModify()">
              <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="{{labels.modify}}">edit
              </mat-icon>
            </button>

            <button *ngIf="view" mat-icon-button (click)="projectView()">
              <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="{{labels.view}}">visibility
              </mat-icon>
            </button>

            <button *ngIf="delete" mat-icon-button (click)="removeSelectedRows()">
              <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="{{labels.delete}}">delete
              </mat-icon>
            </button>

          </mat-grid-list>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="dTable">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'" style="width:50px;">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row" [ngClass]="'text-center'">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event  ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" (change)="row.highlighted = !row.highlighted">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="planName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.planName}} </th>
              <td mat-cell *matCellDef="let row"> {{row.planName}} </td>
            </ng-container>

            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.duration}} </th>
              <td mat-cell *matCellDef="let row"> 
                <div *ngIf="row.duration != null && row.duration == 1">{{row.duration}} {{labels.month}}</div>
                <div *ngIf="row.duration != null && row.duration > 1">{{row.duration}} {{labels.months}}</div>
                <div *ngIf="row.duration != null && row.duration == 0"> - </div>
                <div *ngIf="row.duration == null">{{row.fromDate | date: 'dd/MM/yyyy'}} - {{row.toDate | date:'dd/MM/yyyy'}}</div>
                <div class=""></div>
              </td>
            </ng-container>
            <ng-container matColumnDef="fromDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.fromDate}} </th>
              <td mat-cell *matCellDef="let row"> {{row.fromDate}} </td>
            </ng-container>
            
            <ng-container matColumnDef="toDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.toDate}} </th>
              <td mat-cell *matCellDef="let row"> {{row.toDate}} </td>
            </ng-container>
            <ng-container matColumnDef="userCount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.planUserCount}} </th>
              <td mat-cell *matCellDef="let row">  
                <span *ngIf="row.userCount == 0"> - </span>
                <span *ngIf="row.userCount != 0">{{row.userCount}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="transactionCount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.planTransactionCount}} </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.transactionCount == 0"> - </span>
                <span *ngIf="row.transactionCount != 0">{{row.transactionCount}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.amount}} </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.amount == undefined"> - </span>
                <span *ngIf="row.amount != undefined">{{row.amount}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="offerAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.offerAmount}} </th>
              <td mat-cell *matCellDef="let row"> 
                <span *ngIf="row.offerAmount == undefined"> - </span>
                <span *ngIf="row.offerAmount != undefined">{{row.offerAmount}}</span>  
              </td>
            </ng-container>

            <ng-container matColumnDef="offerRemarks">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.offerRemarks}} </th>
              <td mat-cell *matCellDef="let row"> {{row.offerRemarks}} </td>
            </ng-container>

            <ng-container matColumnDef="currencyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.currencyName}} </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.currencyName == undefined"> - </span>
                <span *ngIf="row.currencyName != undefined">{{row.currencyName}}</span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="activeFlag">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{labels.status}}</th>
              <td mat-cell *matCellDef="let row"> {{row.active}}
                <div *ngIf="row.activeFlag == '1'">{{labels.active}}</div>
                <div *ngIf="row.activeFlag == '0'">{{labels.inactive}}</div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="userRoleFieldName"></tr>
            <tr mat-row *matRowDef="let row;  columns:userRoleFieldName" (click)="row.highlighted = !row.highlighted"
              (click)=" selection.toggle(row)" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
          </table>
          <div [hidden]="displayNoRecords" class="p-10">
            <h3 class="noRecordGrid">{{labels.noRecords}}</h3>
          </div>
        </div>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </article>

  </div>
</div>