/* .newsitem:hover{
    box-shadow: 0px 1px 5px lightgray;
} */



/* .equalHeight .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .equalHeight .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  } */


/*
  .table-row-equal {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-spacing: 30px 0px;
		word-wrap: break-word;
		border-spacing: 30px 0px;
	}
	.table-row-equal .thumbnail {
		float: none;
		display: table-cell;
		vertical-align: top;
		width: 1%;
	} */


	/* .fc-day[data-date^=" "]:hover {
		background: blue !important;
		cursor: pointer;
	} */


    .error{
        text-align: center;
        font-family: inherit;
        font-size: 12px;
        margin-top: calc(359px/2 - 6px);
        /* margin: 50% 0; */
    }
    .newsflash{
        white-space: nowrap;
        background: orangered;
    }
    .errornew{
        text-align: center;
        font-family: inherit;
        font-size: 12px;
        margin-top: calc(196px/2 - 6px);
    }

    .left-content .news .news-head figure{
      display: inline-block;
      background: none;
    }

    /* .left-content .news .news-head figure, */
     .left-content .news .news-head figure:after {
      background: none;
    }
    .left-content .news, .left-content .announcements, .left-content .events {
      /* min-height: 393px !important; */
      /* min-height: 359px !important; */
      min-height: 440px !important;
    }
    .right-content .calender-sec {
      padding: 12px 10px 10px !important;
    }
    
    .widgetHeader{
      overflow-x: hidden;
      max-height: 43px;
      overflow-y: auto;
      white-space: normal;
     
     }
    
     .widgetHeader::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 0px;
    }
    
    .widgetHeader::-webkit-scrollbar
    {
      width: 7px;
      background-color: #F5F5F5;
    }
    
    .widgetHeader::-webkit-scrollbar-thumb
    {
      border-radius: 0px;
      /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(253, 109, 94, 0.38)), color-stop(0.72, rgba(253, 106, 96, 0.71)), color-stop(0.86, rgb(253, 109, 94))); */
      background-image: -webkit-gradient(linear, left bottom,
       left top, color-stop(0.44, rgb(0, 81, 129)), color-stop(0.72, rgb(142, 184, 133)),
        color-stop(0.86, rgb(197, 223, 150)));
    }

    .well-head figure img{
      max-width: 35px;
      position: relative;
      MARGIN-RIGHT: 6PX;
      height: 30px;
    }

    .news-head img, well-head img{
      height:35px;
      width:100%;
    }

    .well-head figure, .well-head h1{
      display: inline-block;
    }
    ::ng-deep header {
      display: block;
     }
     ::ng-deep .widgetHeaderTooltip{
      width: fit-content;
      background: linear-gradient(to bottom,  #fb9d23 0%,#f48600 28%,#f9c98e 74%,#f78800 96%,#f9b766 100%);
      color: white;
      font-size: 16px;
    }