<div class="content-pageXXX container-fluid">
  <div class="contentXXX main-content">
    <app-left-nav></app-left-nav>
    <app-tasks></app-tasks>


    <article style="background: radial-gradient(#ffc2c2, transparent);" class="right-panel">
      <!-- <h4 class="page-title">Phone Book</h4> -->
      <div class="row">
        <div class="col-md-9">
          <h4 class="page-title">{{labels.phoneBook  | i18n}}</h4>
          <div class="row">
            <div class="col-md-12">
              <button mat-raised-button color="warn" type="button" (click)="emergencyList()">
                {{labels.emergencyContactDeatils}} </button>
            </div>
            <div class="col-md-12">
              <div class="a_to_z_sec">
                <ul>

                  <li *ngFor="let kk of displayalpha"><a (click)="changeserch(kk.val)" href="javascript:;"
                      [ngClass]="{'active': selectedItem === kk.val}">{{kk.display}}</a></li>
                  <!--<li><a (click)="changeserch('a')" href="javascript:;" [ngClass]="{'active': selectedItem === 'a'}" >A</a></li>
                      <li><a (click)="changeserch('b')" href="javascript:;"  [ngClass]="{'active': selectedItem === 'b'}" >B</a></li>
                      <li><a (click)="changeserch('c')" href="javascript:;">C</a></li>
                      <li><a (click)="changeserch('d')" href="javascript:;">D</a></li>
                      <li><a (click)="changeserch('e')" href="javascript:;">E</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">F</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">G</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">H</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">I</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">J</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">K</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">L</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">M</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">N</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">O</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">P</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">Q</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">R</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">S</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">T</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">U</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">V</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">W</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">X</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">Y</a></li>
                      <li><a (click)="changeserch('a')" href="javascript:;">Z</a></li>-->

                </ul>

              </div>

            </div>

            <div class="col-md-12" *ngIf="!searchcont && singleobj != undefined">
              <hr class="phoneBook_divider">
              <div class="container">
                <div class="avatar-flip" *ngIf="singleobj.phoneBookProfile!==null">
                  <img [src]="profileImage" height="150" width="150">
                  <img [src]="profileImage" height="150" width="150"> 
                </div>
                <div class="avatar-flip" *ngIf="singleobj.phoneBookProfile===null">
                  <img src="assets/img/profile1.png" height="150" width="150">
                  <img src="assets/img/profile1.png" height="150" width="150">
                </div>

                <div style="text-transform: capitalize;color: #c58a2b;font-size: 32px;
                     font-weight: 600;text-align: center;">{{singleobj.employeeName}}</div>
                <hr>
                <div class="col-md-6" style="color: gray">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="49%">{{labels.department}}</td>
                      <td width="2%">:</td>
                      <td width="49%">{{singleobj.userDepartment}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.employeeId}}</td>
                      <td>:</td>
                      <td>{{singleobj.employeeId}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.mobileNumberC}}</td>
                      <td>:</td>
                      <td>{{singleobj.mobileNumberC}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.extensionNumber}}</td>
                      <td>:</td>
                      <td>{{singleobj.extensionNumber}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.location}}</td>
                      <td>:</td>
                      <td>{{singleobj.location}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6" style="color: gray">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="49%">{{labels.emailId}}</td>
                      <td width="2%">:</td>
                      <td width="49%">{{singleobj.emailId}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.mobileNumberP}}</td>
                      <td>:</td>
                      <td>{{singleobj.mobileNumberP}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.phoneNumber}}</td>
                      <td>:</td>
                      <td>{{singleobj.phoneNumber}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.skypeId}}</td>
                      <td>:</td>
                      <td>{{singleobj.skypeId}}</td>
                    </tr>
                    <tr>
                      <td>{{labels.subLocation}}</td>
                      <td>:</td>
                      <td>{{singleobj.subLocation}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- <div class="card">
                    <div class="card-body p-0">
                      <div class="row">
                        <div class="col-md-12">
                          <h3 class="box_title">{{singleobj.employeeName}}</h3>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">

                              <div class="row p-10">
                                <div class="col-md-2 text-center">
                                  <div class="upload_img">
                                    <img src="../../../assets/img/profile_img.png">
                                  </div>
                                </div>
                                <div class="col-md-10">
                                  <div class="row phoneBook_userDetails">
                                    <div class="col-md-6">
                                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td width="49%">Department</td>
                                          <td width="2%">:</td>
                                          <td width="49%">{{singleobj.userDepartment}}</td>
                                        </tr>
                                        <tr>
                                          <td>Employee ID</td>
                                          <td>:</td>
                                          <td>{{singleobj.employeeId}}</td>
                                        </tr>
                                        <tr>
                                          <td>Mobile Number (C)</td>
                                          <td>:</td>
                                          <td>{{singleobj.mobileNumberC}}</td>
                                        </tr>
                                        <tr>
                                          <td>Extension Number</td>
                                          <td>:</td>
                                          <td>{{singleobj.extensionNumber}}</td>
                                        </tr>
                                        <tr>
                                          <td>Location</td>
                                          <td>:</td>
                                          <td>{{singleobj.location}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                    <div class="col-md-6">
                                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td width="49%">Email ID</td>
                                          <td width="2%">:</td>
                                          <td width="49%">{{singleobj.emailId}}</td>
                                        </tr>
                                        <tr>
                                          <td>Mobile Number (P)</td>
                                          <td>:</td>
                                          <td>{{singleobj.mobileNumberP}}</td>
                                        </tr>
                                        <tr>
                                          <td>Phone Number</td>
                                          <td>:</td>
                                          <td>{{singleobj.phoneNumber}}</td>
                                        </tr>
                                        <tr>
                                          <td>Skype ID</td>
                                          <td>:</td>
                                          <td>{{singleobj.skypeId}}</td>
                                        </tr>
                                        <tr>
                                          <td>Sublocation</td>
                                          <td>:</td>
                                          <td>{{singleobj.subLocation}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>


                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>-->
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <div class="phoneBook_sideBox">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="pb-5 empNameTitle">{{labels.employeeName}}</h2>
                  </div>
                  <div class="col-md-12">
                    <div class="empNameList_sec">
                      <div class="row">
                        <div class="col-md-12">
                          <!--<mat-form-field>
                              <input matInput placeholder="Search" [(ngModel)]="search" name="">
                              <mat-icon matSuffix class="mr-1">search</mat-icon>
                            </mat-form-field>-->
                          <mat-form-field style="width:inherit;">
                            <input matInput [(ngModel)]="term" name="term" placeholder="{{labels.filter}}">
                            <mat-icon matSuffix class="mr-1">search</mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                           <!-- <div  class="p-10">
                                <h3 class="noRecordGrid">No Record Found...</h3>
                              </div> -->

                              <div [hidden]="displayNoRecords" class="p-10">
                                <h3 class="noRecordGrid">{{labels.noRecords}}</h3>
                              </div>

                          <!-- <div *ngIf="displayNoRecords" class="p-10">
                            <h3 class="noRecordGrid">No Record Found...</h3>
                          </div> -->
                        </div>
                        <div class="col-md-12">
                          <div class="nameList_sec">
                            <ul *ngFor="let tt of searchlist |filter:term">
                              <li><a (click)="passsingle(tt)" href="javascript:;"
                                  [ngClass]="{'active': singleobj === tt}">
                                  &nbsp;&nbsp;{{tt.employeeName}} ( {{tt.employeeId}} )</a></li>
                              <!--<li><a href="javascript:;">List</a></li>-->
                            </ul>
                          </div>
                          <!-- <div [hidden]="displayNoRecords" class="p-10">
                                <h3 class="noRecordGrid">No Record Found...</h3>
                              </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>


  </div>
</div>