<div class="content-pageXXX container-fluid">
    <form #saveListForm [formGroup]="saveForm" (ngSubmit)="onSubmit(saveForm.value)" novalidate>
        <div class="contentXXX main-content">

            <app-left-nav></app-left-nav>

            <article class="right-panel">

                <h4 class="page-title">{{labels.widgetsAdminView  | i18n}}</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-2 ">
                            <!-- <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Code" formControlName="widgetCode" >
            </mat-form-field>
          </div> -->
                            <div class="col-md-3 readOnly " *ngIf="userBaseFieldName | arrayFilter : 'widgetCode' ">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{labels.widgetCode}}" formControlName="widgetCode">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 readOnly " *ngIf="userBaseFieldName | arrayFilter : 'widgetIndex' ">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{labels.index}}" formControlName="widgetIndex">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 readOnly " *ngIf="userBaseFieldName | arrayFilter : 'widgetTitle' ">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{labels.title}}" maxlength="250" formControlName="widgetTitle">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 " *ngIf="userBaseFieldName | arrayFilter : 'widgetIcon' ">
                                <div class="row">
                                    <div class="col-md-1 pr-0 mt-15">
                                        <mat-icon style="color:#000; cursor:pointer" *ngIf="widgetIconName !== undefined" class="icons-color-white" (click)="downloadWidgetIcon(widgetId)" matTooltip="Download">
                                            vertical_align_bottom</mat-icon>
                                    </div>
                                    <div class="col-md-11 download_attachment readOnly">
                                        <mat-form-field class="example-full-width">
                                            <span *ngIf="widgetIconName">{{widgetIconName}}</span>
                                            <ngx-mat-file-input name="widgetsAddGetData.widgetIcon" accept=".png, .jpg, .jpeg" placeholder="" formControlName="widgetIcon">
                                                <mat-icon matSuffix>folder</mat-icon>

                                            </ngx-mat-file-input>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Sequence" formControlName="widgetSeq" name="widgetsAddGetData.widgetSeq">
            </mat-form-field>
          </div> -->
                            <div class="col-md-3 mt-15" *ngIf="userBaseFieldName | arrayFilter : 'widgetIsActive' ">

                                <mat-checkbox formControlName="widgetIsActive">{{labels.activeWidget}}</mat-checkbox>

                            </div>
                        </div>
                    </div>
                </div>



                <!-- Detail child table fields -->
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <!-- <mat-label>Details </mat-label> -->
                                <h3 class="box_title">{{labels.details}}</h3>
                            </div>

                            <div class="col-md-12" *ngIf="saveForm">
                                <div class="row p-20 nth_child_control">
                                    <div formArrayName="widgetDetailVoList" *ngFor="let item of saveForm.controls['widgetDetailVoList'].controls; let i = index">
                                        <div [formGroupName]="i">
                                            <div class="row p-10">
                                                <div class="col-md-3 readOnly" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailHeading' ">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="{{labels.heading}}" formControlName="widgetDetailHeading">
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Heading Index" formControlName="widgetDetailHeadingIndex">
                    </mat-form-field>
                  </div> -->
                                                <!-- <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Is Picture Required" formControlName="widgetDetailPicIsRequired">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                                                <!-- <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailPicPath' ">
                    <div class="row">
                        <mat-form-field class="example-full-width">
                      <input matInput placeholder="Picture Path" formControlName="widgetDetailPicPath">
                    </mat-form-field>
                         </div>
                  </div> -->
                                                <div class="col-md-3 download_attachment" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailPicPath' ">
                                                    <span *ngFor="let pic of picName; index as i">
                                                        <mat-icon style="color:#000; cursor:pointer"
                                                            class="icons-color-white"
                                                            (click)="downloadindpic(widgetDetailId, pic)"
                                                            matTooltip="{{labels.download}}">vertical_align_bottom</mat-icon>
                                                        <span class="picpath" matTooltip={{pic}}>{{pic}}</span>
                                                    </span>
                                                    <span *ngIf="picName  && picName.length > 1">
                                                        <mat-icon style="color:#000; cursor:pointer"
                                                            class="icons-color-white"
                                                            (click)="downloadpic(widgetDetailId)" matTooltip="{{labels.download}}">
                                                            vertical_align_bottom</mat-icon>
                                                        <span class="picpath">{{labels.downloadAll}}</span>
                                                    </span>
                                                    <mat-form-field class="example-full-width hover readOnly">
                                                        <ngx-mat-file-input multiple placeholder="{{labels.picturePath}}" name="widgetDetailPicPath" formControlName="widgetDetailPicPath" (click)="getwidgetDetailPicPath()">
                                                        </ngx-mat-file-input>
                                                        <mat-icon matSuffix>folder</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Is Attachment Required" formControlName="widgetDetailAttIsRequired">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                                                <!-- <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailAttPath' ">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Attachment Path" formControlName="widgetDetailAttPath">
                    </mat-form-field> 
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Attachment Path" formControlName="widgetDetailAttPath">
                          </mat-form-field>
                    </div>
                  </div> -->
                                                <div class="col-md-3 download_attachment" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailAttPath' ">
                                                    <span *ngFor="let att of attName; index as i">
                                                        <mat-icon style="color:#000; cursor:pointer"
                                                            class="icons-color-white"
                                                            (click)="downloadindAttpic(widgetDetailId, att)"
                                                            matTooltip="{{labels.download}}">vertical_align_bottom</mat-icon>
                                                        <span class="picpath" matTooltip={{att}}>{{att}}</span>
                                                    </span>
                                                    <span *ngIf="attName  && attName.length > 1">
                                                        <mat-icon style="color:#000; cursor:pointer"
                                                            class="icons-color-white"
                                                            (click)="downloadAttpic(widgetDetailId)"
                                                            matTooltip="{{labels.downloadAll}}">vertical_align_bottom</mat-icon>
                                                        <span class="picpath">{{labels.downloadAll}}</span>
                                                    </span>
                                                    <mat-form-field class="example-full-width readOnly">
                                                        <ngx-mat-file-input placeholder="{{labels.attachmentPath}}" name="widgetDetailAttPath" (click)="getAttachmentPath()" formControlName="widgetDetailAttPath">
                                                        </ngx-mat-file-input>
                                                        <mat-icon matSuffix>folder</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="More Path" formControlName="widgetDetailMorePath">
                    </mat-form-field>
                  </div> -->
                                                <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailExternalUrl' ">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="{{labels.externalURL}}" formControlName="widgetDetailExternalUrl">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row p-10">
                                                <div class="col-md-3 readOnly" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailValidFrom' ">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [matDatepicker]="picker2" placeholder="{{labels.validFrom}}" (dateChange)="fromDateVal($event)" readonly formControlName="widgetDetailValidFrom">
                                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker2></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3 readOnly" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailValidTo' ">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [matDatepicker]="picker3" readonly placeholder="{{labels.validTo}}" (dateChange)="toDateVal($event)" formControlName="widgetDetailValidTo" [min]="fromDate">
                                                        <mat-datepicker-toggle matSuffix [for]="picker3">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker3></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3 readOnly" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailAnnouncementDate' ">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [matDatepicker]="picker1" placeholder="{{labels.announcementDate}}" formControlName="widgetDetailAnnouncementDate" [min]="fromDate" [max]="toDate" readonly>
                                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker1></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailDescription' ">
                                                    <mat-form-field class="example-full-width">
                                                        <textarea matInput placeholder="{{labels.description}}" readonly formControlName="widgetDetailDescription">
                              </textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-3 readOnly" *ngIf="userBaseFieldName | arrayFilter : 'widgetDetailIsActive' ">
                                                <mat-checkbox formControlName="widgetDetailIsActive">{{labels.activeWidgetDetail}}
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add/Remove Rows button  -->
                                    <!-- <div class="col-md-12 text-right">
                <a class="circle_iconbg" href="javascript:void(0);" (click)="addSequence()">
                  <i class="material-icons">add</i>
                </a>
                <a class="circle_iconbg" href="javascript:void(0);" (click)="deleteSequence()">
                  <i class="material-icons">remove</i>
                </a>
              </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 text-center">
                        <button mat-raised-button color="warn" class="btn-orange" routerLink="/widgets-admin">{{labels.back}}</button>
                    </div>
                </div>





                <div class="mat-elevation-z8 " style="margin-top:15px">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort class="dTable">

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'" style="width:50px;">
                                    <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox> -->
                                </th>
                                <td mat-cell *matCellDef="let row" [ngClass]="'text-center'">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event  ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" (change)="row.highlighted = !row.highlighted" (change)="editRecord($event,row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="heading">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.heading}} </th>
                                <td mat-cell *matCellDef="let row"> {{row.widgetDetailHeading}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{labels.status}} </th>
                                <td mat-cell *matCellDef="let row"> {{(row.widgetDetailIsActive)? 'Active':'InActive'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.description}} </th>
                                <td mat-cell *matCellDef="let row">{{row.widgetDetailDescription}} </td>
                            </ng-container>

                            <ng-container matColumnDef="announcementDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.announcementDate}} </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.widgetDetailAnnouncementDate | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="validFrom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.validFrom}} </th>
                                <td mat-cell *matCellDef="let row">{{row.widgetDetailValidFrom | date: 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="validTo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{labels.validTo}} </th>
                                <td mat-cell *matCellDef="let row">{{row.widgetDetailValidTo | date: 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row;  columns:displayedColumns" (click)="row.highlighted = !row.highlighted" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>

                        </table>

                        <!-- <div [hidden]="displayNoRecords" class="p-10">
            <h3 class="noRecordGrid">No Record Found...</h3>
          </div> -->
                    </div>
                    <mat-paginator [pageSizeOptions]="[5]" [hidePageSize]="true" showFirstLastButtons></mat-paginator>
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [hidePageSize]="false" showFirstLastButtons></mat-paginator> -->
                </div>

            </article>

        </div>
    </form>

</div>