input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fromToPicker{
  width: 100%;
  border: none;
  color: #000;
  border-bottom: 1px solid #949494;
}
.example-input-wrapper{
  width: 100%;
  color: #757575;
}
.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar{
  height: auto !important;
}
.owl-dt-popup-container{
  width: 25em !important;
}
.readOnly{pointer-events: none;}
